<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Multi OAuth Demo</title>
</head>
<body>
<h1>Multi OAuth demo</h1>
<p>Login using:</p>
<ul>
    <li><a href="/oauth2/authorization/google">Google</a></li>
    <li><a href="/oauth2/authorization/github">GitHub</a></li>
    <li><a href="/oauth2/authorization/linkedin">LinkedIn</a></li>
    <li><a href="/oauth2/authorization/azure">Microsoft (Azure)</a></li>
</ul>
<p>If login is successful you'll be redirected to <code>/?token=...JWT...</code>.</p>
</body>
</html>
